body {
    font-family: Arial, sans-serif;
}

header .container {
    max-width: 1140px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    color: #adb5bd;
}

header .form-control {
    border-radius: 50px;
    border: 1px solid #ced4da;
}

header .btn-outline-light {
    border-color: #ffffff;
    color: #ffffff;
}

header .btn-outline-light:hover {
    background-color: #ffffff;
    color: #343a40;
}

header .dropdown-menu {
    background-color: #343a40;
    border: none;
}

header .dropdown-item {
    color: #ffffff;
}

header .dropdown-item:hover {
    background-color: #495057;
}

.carousel-inner img {
    border-radius: 1vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

@media (max-width: 767.98px) {
    header .d-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    header .dropdown {
        margin-top: 1rem;
    }
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-body {
    flex-grow: 1;
}

.card-body {
    padding: 1rem;
}
